/* 
 * * Global Variables
 *
 * @designer: Somnath Sil
 */

$tableHover: 0px 5px 7px 0px rgba(0, 0, 0, 0.05);
$globalSearchShadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
$globaInputShadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
$formFooterShadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.05);
$adminHeaderShadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18);
$profileShadow: linear-gradient(90deg, #50473b 0%, #1a1714 100%);
$cartShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
$notificationShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
$globalFilterShadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.13);
$headerOrderShadowLeft: 3px 0px 5px 0px rgba(0, 0, 0, 0.1);
$headerOrderShadowRight: -3px 0px 5px 0px rgba(0, 0, 0, 0.1);
$bspokeShadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
$accordianShadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
$primaryGradient: linear-gradient(117deg, #1b1b1b 50.09%, #b17c56 96.95%);
$primaryGradientHover: linear-gradient(108deg, #1b1b1b 21.64%, #b17c56 94.98%);
$tertiaryGradient: linear-gradient(117deg, #b17c56 02.09%, #1b1b1b 60.95%);
$tertiaryGradientHover: linear-gradient(108deg, #b17c56 1.64%, #1b1b1b 94.98%);
$primaryGradientDisabled: linear-gradient(116.79deg, #1b1b1b 50.09%, #b17c56 96.95%);
$globalTableHeaderBackground: linear-gradient(180deg, #fff 0%, #ecd7ca 100%);
$globalTableHeaderSecondaryBackground: linear-gradient(180deg, #ffffff 0%, #fffbeb 100%);
$recordOrderHeaderBackground: linear-gradient(180deg, #ffffff 0%, #dbdbc0 100%);
$recordFileTableBackground: linear-gradient(180deg, #f9f6f3 0%, rgba(249, 246, 243, 0) 100%);
$globalTableHeaderControlsBackground: linear-gradient(180deg, #ffffff 0%, #dbdbc0 100%);
$globalEngineeringInfoBackground: linear-gradient(180deg, #ffffff 0%, #ecffeb 100%);
$accordianHeaderBackground: linear-gradient(180deg, #fff 0%, #dbdbc0 100%);
$radioSelectBackground: linear-gradient(90deg, #99846a 0%, #382c24 100%);
$globalTableHeaderShadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
$globalTableFullHeaderShadow: linear-gradient(144.51deg, #e7e3df 0%, #ffffff 100%);
$componentColumnsFilterShadow: 0px 0px 20px 0px #00000026;
$componentVariableShadow: 0px 2px 5px 0px #00000014;
